name: CI

on:
  pull_request:
  push:
    branches:
      - main

jobs:
  codegen:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Setup
        uses: ./.github/actions/setup

      - name: Run codegen
        run: mise run codegen

      - name: Fail on new or modified files
        run: |
          if [[ -n "$(git status --porcelain)" ]]; then
            echo "Repository has changes after CI steps:"
            git status --short
            exit 1
          fi

  lint:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Setup
        uses: ./.github/actions/setup

      - name: Run linters and formatters
        run: mise run fix

      - name: Fail on new or modified files
        run: |
          if [[ -n "$(git status --porcelain)" ]]; then
            echo "Repository has changes after CI steps:"
            git status --short
            exit 1
          fi

  test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Setup
        uses: ./.github/actions/setup

      - name: Run tests
        run: cargo test
